{% extends 'base.html.twig' %}

{% block title %} Reporting_panel {% endblock %}

{% block body %}
    <div class='container-fluid'>
        {# <canvas id="myChart" style="max-width: 500px;"></canvas> #}
        <div class="row text-center mt-5 mb-5 justify-content-center">
            <div class="col-3">
                <h2> Reporting Géneral</h2>
                <hr>
            </div>
            
        </div>

        <div class='row '>
            <div class='col'>
                {{ form_start(dateFilter) }}
                    {{ form_row(dateFilter.startDate) }}
                    {{ form_row(dateFilter.endDate) }}
                {{ form_end(dateFilter) }}
            </div>
        </div>
        <div class="row mb-5">
            <div class = 'col'>
                   <a href="{{ path('reporting_csv',{'startDate':startDate | date,'endDate':endDate | date}) }}" class="btn btn-success">Télècharger un fichié  CSV</a>
              </div>

          </div>

          <div class="row">
              <div class="col">
                  <table class="table">
                      <thead class="thead-dark">
                      <tr>
                          <th scope="col">Ligne</th>
                          <th scope="col">Medium</th>
                          <th scope="col">Source</th>
                          <th scope="col">Campagne</th>
                          <th scope="col">Nombre de comparaison</th>
                          <th scope="col">Nombre de devis</th>
                          <th scope="col">Nombre de session</th>
                          <th scope="col">Devis non aboutit</th>
                          <th scope="col">Devis aboutit</th>
                          <th scope="col">Comparaison non aboutit</th>
                          <th scope="col">Comparaison aboutit</th>
                          <th scope="col">Session non aboutit</th>
                          <th scope="col">Session aboutit</th>
                          <th scope="col">Nombre de souscription</th>
                      </tr>
                      </thead>

                      {# Initialisation des variables pour ensuite calculer dans la boucle #}
                    {% set count = 0 %}
                    {% set totalSouscription = 0 %}
                    {% set totalSouscriptionNon = 0 %}
                    {% set tauxTransformation = 0 %}
                    {% set devisAboutit = 0 %}
                    {% set totalDevis = 0 %}
                    {% set comparaisonAboutit = 0 %}
                    {% set totalComparaison = 0 %}
                    {% set sessionAboutit = 0 %}
                    {% set totalSession = 0 %}

                    {% for dataReportings in dataReporting %}
                    {% set count = count + 1 %}
                    <tbody>
                    <tr>
                        <th scope="row">{{ count }}</th>
                        <td>{% if dataReportings.medium is null %}
                                Null
                            {% else %}
                                {{ dataReportings.medium }}
                            {% endif %}
                        </td>
                        <td> {% if dataReportings.source is null %}
                                Null
                            {% else %}
                                {{ dataReportings.source }}
                            {% endif %}
                        </td>
                        <td> {% if dataReportings.campaign is null %}
                                Null
                            {% else %}
                                {{ dataReportings.campaign }}
                            {% endif %}
                        </td>
                        <td>{{ dataReportings.Nombre_de_comparaison }}</td>
                        <td>{{ dataReportings.Nombre_de_devis }}</td>
                        <td>{{ dataReportings.Nombre_de_session }}</td>
                        <td>{{ dataReportings.Devis_non_aboutit }}</td>
                        <td>{{ dataReportings.Devis_aboutit }}</td>
                        <td>{{ dataReportings.Comparaison_non_aboutit }}</td>
                        <td>{{ dataReportings.Comparaison_aboutit }}</td>
                        <td>{{ dataReportings.Session_non_aboutit }}</td>
                        <td>{{ dataReportings.Session_aboutit }}</td>
                        <td>{{ dataReportings.Session_aboutit + dataReportings.Comparaison_aboutit + dataReportings.Devis_aboutit }}</td>
                    </tr>

                    {# Calcule #}
                    {% set totalSouscription = totalSouscription + (dataReportings.Session_aboutit + dataReportings.Comparaison_aboutit + dataReportings.Devis_aboutit) %}
                    {% set totalSouscriptionNon = totalSouscriptionNon + (dataReportings.Session_non_aboutit + dataReportings.Comparaison_non_aboutit + dataReportings.Devis_non_aboutit) %}
                    {% set devisAboutit = devisAboutit + dataReportings.Devis_aboutit %}
                    {% set totalDevis = totalDevis + dataReportings.Nombre_de_devis %}
                    {% set comparaisonAboutit = comparaisonAboutit + dataReportings.Comparaison_aboutit %}
                    {% set totalComparaison = totalComparaison + dataReportings.Nombre_de_comparaison %}
                    {% set sessionAboutit = sessionAboutit + dataReportings.Session_aboutit %}
                    {% set totalSession = totalSession + dataReportings.Nombre_de_session %}

                    {% endfor %}

                     Resultat des calcules

                    <th scope="row"></th>
                    <td colspan="11"></td>
                    <td> <strong> Total des souscriptions aboutit : </strong></td>
                    <td>{{ totalSouscription }}</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td colspan="11"></td>
                        <td> <strong> Total des souscriptions non aboutit : </strong></td>
                        <td>{{ totalSouscriptionNon }}</td>
                    </tr>
                    <th scope="row"></th>
                    <td colspan="11"></td>
                    <td> <strong> Ratio souscription aboutit : </strong></td>
                    <td>{{ ((totalSouscription / totalSouscriptionNon) * 100)|round(2) }}%</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td colspan="11"></td>
                        <td> <strong>Taux transformation devis:</strong></td>
                        <td> {{ ((devisAboutit / totalDevis) * 100)|round(2) }}%</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td colspan="11"></td>
                        <td><strong>Taux transformation comparaison:</strong></td>
                        <td> {{ ((comparaisonAboutit / totalComparaison) * 100 )|round(2)}}%</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td colspan="11"></td>
                        <td><strong>Taux transformation session :</strong></td>
                        <td> {{ ((sessionAboutit / totalSession) * 100)|round(2)}}%</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td colspan="11"></td>
                        <td><strong>Taux transformation total :</strong></td>
                        <td> {{ ((totalSouscription / (totalDevis + totalSession + totalComparaison)) * 100)|round(2)}}%</td>
                    </tr>
                    </tbody>
            </table>
        </div>
    </div>
  </div>

{% endblock %}




